# Scraping
playwright==1.41.0
beautifulsoup4==4.12.3

# Comparador mejorado
rich==13.7.0
prompt-toolkit==3.0.43

# Web app local
streamlit==1.31.0
pandas==2.2.0

# Descarga de DBs (opcional)
requests==2.31.0
